.App {
  text-align: center;
}


nav{
  background:white;
  position: absolute;
  margin-left: 36%;
  margin-top: 25%;
  background: transparent;
}
.nav-Links {
  display: flex;
  list-style: none;
  text-decoration: none;
}
/* }:hover {
  color: grey;
  text-decoration: underline
} */

li:hover{
  color:grey;
  text-decoration: underline
}